* {
box-sizing: border-box;
margin: 0 auto;
padding: 0;
}

body {
    width: 960px;
    display: block;
}

nav {
    height: 70px;
    background-color:#E6EE9C;
    line-height: 70px;
}
.nav-menu {
    float: right;
    margin-right: 30px;
}
.nav-btn {
    list-style-type: none;
    margin: 0;
}
ul.nav-btn > li {
    float: left;
    margin-left: 25px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
nav::after {
    content: " ";
    display: block;
    clear: both;
}
.hd {
    height: 600px;
    background-image: url(https://www.google.co.kr/search?q=kings+of+convenience&newwindow=1&rlz=1C1EQUG_enKR631KR631&espv=2&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiRl52fsoXTAhWLUbwKHfpfDwAQ_AUIBygC&biw=1707&bih=823&dpr=1.13#imgrc=sNVsYOQY7zbWmM:);
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
}
.hd-title {
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 150px;
    font-family: 'Amatic SC', cursive;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.sec {
    text-align: center;
    padding: 100px 0;
}
.sec article {
    float: left;
    width: 300px;
    margin-right: 30px;
}
.square {
    overflow: hidden;
    height: 300px;
    width: 300px;
}
.sec article p {
    margin-top: 40px;
}
.sec::after {
    content: " ";
    display: block;
    clear: both;
}
.ft {
    padding: 15px;
    text-align: center;
    background-color: #E6EE9C;
}